<div class="content">
    <div class="saved-title">
        <h1>Saved Restaurants</h1>
    </div>
    <ul class="saved-restaurant-list">
        <li class="saved-restaurant-item" *ngFor="let saveResult of SaveList">
            <div class="saved-restaurant-card">
                <img src="{{saveResult.image_url}}" class="saved-thumbnail">
                <div class="saved-restaurant-info">
                    <h2>{{saveResult.name}}</h2>
                    <p>Location: {{saveResult.location}}</p>
                    <p>Rating: {{saveResult.rate}}/5</p>
                    <p>Price: {{saveResult.price}}</p>
                </div>
            </div>
        </li>
    </ul>

</div>
